<div class="panel panel-default">
  <div class="panel-heading">
    <!-- <div>
      <label>Name: </label>
      <input #newName>
    </div>
    <div>
      <label>Age: </label>
      <input #newAge>
    </div>
    <div>
      <label>Description: </label>
      <input #newDescription>
    </div> -->
    <!-- <button (click) = "submitForm(newName.value, newAge.value, newDescription.value, newId.value); newName.value = ''; newAge.value = ''; newDescription.value = '';">Submit</button> -->
    <app-lineup></app-lineup>
  </div>
</div>
<div>
</div>
